body{
    margin: 0;
}
li{
    display:flex;
    padding: 10px;
}
li label{
    flex:1;
    text-align: right;
    margin-right: 12px;
    font-size: 1.5em;
}
li input, li div{
    flex: 2;
}
/* li.macros div.macros-container{
  border-radius: 12px;
  padding:12px

} */
li.macros div{
  display: flex;

}

.c-carbs { background: darkred; }
.c-fats { background: darkgreen; }
.c-prots{ background: darkblue;}

li.macros div div{
  padding: 16px;
  color: white;
  text-align: center;
}

.macros div div span{
  font-size: 2em;
}

input{
  font-size: 2em;
  border-radius: 6px;
}
span.fiber-value{
  font-size:1.5em;
}
span.calories-value{
  font-size:2em;
}